<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--
    namespace：必须与对应的接口mapper.java全类名一致
    id:必须与对应接口mapper.java的某个对应的方法名一致
 -->
<mapper namespace="com.acv.cloud.mapper.TsUserMapper">

    <!--数据库表字段名与models中类属性对应关系-->
    <resultMap id="BaseResultMap" type="com.acv.cloud.models.sys.TsUser">
        <id column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <id column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR"/>
        <id column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <id column="IS_EFFCTIVE" property="isEffctive" jdbcType="TINYINT"/>
        <id column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
        <id column="TOKEN" property="token" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="UserInfoResultMap" type="com.acv.cloud.dto.sys.UserInfo">
        <id column="USER_ID" property="userId" jdbcType="VARCHAR"/>
        <id column="PHONE_NUM" property="phoneNum" jdbcType="VARCHAR"/>
        <id column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <id column="IS_EFFCTIVE" property="isEffctive" jdbcType="TINYINT"/>
        <id column="CREATE_DATE" property="createDate" jdbcType="DATE"/>
        <id column="PROFILE_PHOTO" property="profilePhoto" jdbcType="VARCHAR"/>
        <id column="NICK_NAME" property="nickName" jdbcType="VARCHAR"/>
        <id column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <id column="SEXUAL" property="sexual" jdbcType="VARCHAR"/>
        <id column="EMEY_CONTACT" property="emeyContact" jdbcType="VARCHAR"/>
        <id column="TOKEN" property="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="tableName">
      TS_USER
    </sql>

    <sql id="baseColumns">
    USER_ID,PHONE_NUM,PASSWORD,IS_EFFCTIVE,CREATE_DATE,TOKEN
    </sql>

    <sql id="UserInfoColumns">
   tu.USER_ID,tu.PHONE_NUM,tu.PASSWORD,tui.PROFILE_PHOTO,tui.NICK_NAME,tui.REAL_NAME,tui.SEXUAL,tui.EMEY_CONTACT,tu.IS_EFFCTIVE,tu.CREATE_DATE,tu.TOKEN
    </sql>

    <select id="findUserId" resultMap="BaseResultMap">
        select USER_ID
        from <include refid="tableName"/>
        where PHONE_NUM = #{phoneNum} and IS_EFFCTIVE = 1
    </select>

</mapper>